main {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.heading {
  height: 100px;
  text-align: center;
  justify-content: center;
}

.heading > h1 {
  margin-left: auto;
  margin-right: auto;
  color: gray;
}

.proposal-item {
  text-align: left;
  background-color: #D3D3D3;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 1em;
}

.proposal-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0.5em;
  width: 100%;
}

.description-item {
  height: 350px;
  width: 50%;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 400px;
  margin: 0.5em;
}

.closing {
  background-color: #D3D3D3;
  margin: 0.5em;
}

.closing-item {
  height: 250px;
  margin: 30px;
  background-color: gray;
  min-width: 25%;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 400px;
}
