main {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.heading {
  height: 100px;
  text-align: center;
  justify-content: center;
}

.heading > h1 {
  margin-left: auto;
  margin-right: auto;
  color: gray;
}

.proposal-item {
  text-align: left;
  background-color: #D3D3D3;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 1em;
}

.proposal-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0.5em;
  width: 100%;
}

.description-item {
  width: 50%;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 550px;
  margin: 0.5em;
}

.closing {
  background-color: #D3D3D3;
  word-wrap: break-word;
  margin: 0.5em;
}

.closing-item {
  margin: 30px;
  background-color: gray;
  word-wrap: break-word;
  min-width: 30%;
  flex-grow: 1;
  flex-basis: 250px;
}

/* using code from https://stackoverflow.com/questions/3949762/how-to-wrap-text-using-css */
.wrapword {
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;
}

.hidden-list-point{
  list-style:none;
}

/* smaller than 1024 pixels */
@media screen and (max-width: 1024px) {
.heading{
		background-color: #382424;
	}
}
/* smaller than 768 pixels */
@media screen and (max-width: 768px) {
  .heading{
		background-color: #242031;
	}
}
/* smaller than 480 pixels */
@media screen and (max-width: 480px) {
	.heading{
		background-color: #252409;
	}
}

img{
	max-width: 20%;
	height: 100%;
	}
