<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../public/css/loginstyles.css">
  <title>Login</title>
</head>

<body>
  <div class="login_form">
    <div class="login_items">
      <div class="signin">
        <div id="hdg">Signin</div>
        <div id="signinform">
          <form action="/">
            <div id="signinformcontent">
              <div id="Usrn"><input type="text" name="username" id="username" placeholder="Username"></div>
              <div id="pwd"><input type="password" name="password" id="pwd" placeholder="Password"></div>
              <div id="sbt"><button type="submit">Submit</button></div>
              <div class="links">
                <div id="fuser">
                  <a href="">Forgot Username</a>
                </div>
                <div id="fpwd">
                  <a href="">Forgot Password</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- <div class="signup">
        <label><b>Signup:</b></label>
        <form action="">
          <label for="username">Username:</label><input type="text" name="username" id="username">
          <br>
          <label for="email">Email:</label><input type="email" name="email" id="email">
          <br>
          <label for="password">Password:</label><input type="password" name="password" id="pwd">
          <br>
          <label for="confirmPassword">Confirm Password:</label><input type="password" name="confirmPassword" id="cpwd">
        </form>
      </div> -->
    </div>
  </div>
</body>

</html>