<title>Login Page</title>
<link rel="stylesheet" href="css/loginstyles.css">
<div class="login-container">
  <div class="d-flex flex-column">
    <link href="/css/loginstyles.css" rel="stylesheet">
    <h2 class="d-flex justify-content-center">LOGIN</h2>
    <form method="POST">
      <div class="form-group mb-1">
        <input type="email" class="form-control" name="email" id="email" placeholder="email" required>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" id="password" placeholder="password" required>
      </div>
      <div class="form-group">
        <p class="login-error error">{{messages}}</p>
      </div>
        <a href="/registration"><b>Don't have account? Sign up</b></a>
      <br>
      <br>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Sign in</button></span>
      </div>
    </form>
  </div>
</div>
