<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/record.css">
	<title>Document</title>
</head>

<body>
	{{#each data}}
	<div class="container">
		<div class="table-1">
			<table>
				<tbody>
					<tr>
						<th>Mail Id</th>
						<th>MovieId</th>
					</tr>
					<tr>
						<td data-th="Block">{{this.email}}</td>
						<td data-th="Element">{{this.movieid}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	{{/each}}
</body>
</html>	