<title>Settings</title>
<link rel="stylesheet" href="css/loginstyles.css">
<div class="jumbotron">
  <h2>Settings page for {{user.username}}</h2>
  <div class="form-group">
    <p class="error">
      {{error}}
      A simple danger alert—check it out!
    </p>
    <p id="local-errors" class="error">
      {{error}}
      A simple danger alert—check it out!
    </p>
    <div class="row">
      <label or="uname" class="col-form-label">UserName</label>
      <div class="col-6">
        <input type="text" class="form-control" id="uname" placeholder="Enter Username">
        <button type="submit" data="username" class="btn btn-primary">Update Username</button>
      </div>
    </div>

    <div class="row">
      <label for="email" class="col-form-label">Email</label>
      <div class="col-6">
        <input type="email" class="form-control" id="email" placeholder="Email">
        <button type="submit" data="email" class="btn btn-primary">Update Email</button>
      </div>
    </div>

    <div class="row">
      <label for="password" class="col-form-label">Password</label>
      <div class="col-6">
        <input type="password" class="form-control" id="password" placeholder="**********">
      </div>
    </div>

    <div class="row">
      <label for="confirm-password" class="col-form-label">Confirm Password</label>
      <div class="col-6">
        <input type="password" class="form-control" id="confirm-password" placeholder="**********">
        <button onclick="updatePassword()" data="password" class="btn btn-primary">Update Password</button>
      </div>
    </div>
  </div>
</div>
<script>
  function update(data) {

    //using code from https://www.geeksforgeeks.org/difference-between-get-and-post-request-in-vanilla-javascript/
    // Instantiating new XMLHttpRequest()
    let xhr = new XMLHttpRequest()

    // open method to pass request
    // type, url and async true/false 
    xhr.open('POST',
      '/users', true)

    // Setting content-type
    xhr.getResponseHeader('Content-type', 'application/json');

    // Perform the following when the response is ready
    xhr.onload = function () {
      if (this.status === 200) {
        console.log(this.responseText)
      }
      else {
        // todo write better errors
        document.getElementById("local-errors").text("something went wrong")
      }
    }

    xhr.send(data)
  }
}

  function updateUsername() {

  }

  function updateEmail() {

  }

  function updatePassword() {

  }


</script>