<title>Sign Up</title>
<link rel="stylesheet" href="css/loginstyles.css">
<div class="container mt-3">
  <h4 class="d-flex justify-content-center">Sign Up</h4>
  <form action="/registration" method="POST">
  <div class="d-flex flex-column align-items-center">
    <div class="p-1 col-sm-6">
        <input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
        <p>{{usernameError}}</p>
    </div>
  </div>
  <div class="d-flex flex-column align-items-center">
    <div class="p-1 col-sm-6" >
        <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
        <p>{{emailError}}</p>
    </div>
  </div>
  <div class="d-flex flex-column align-items-center">
    <div class="p-1 col-sm-6">
        <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
        <p>{{passwordError}}</p>
    </div>
  </div>

  <div class="d-flex justify-content-center">
  <button type="submit" class=" btn btn-primary">Submit</button>
  </div>

  <div class="flex-column">
    <h5>Password requirements:</h5>
    <ul>
        <li>At least 1 uppercase letter</li>
        <li>At least 1 lowercase letters</li>
        <li>Base 10 digits (0 through 9)</li>
        <li>(special characters): (~!@#$%^&*_-+=`|\(){}[]:;"'<>,.?/)</li>
    </ul>
  </div>

  </form>
</div>
